* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px 0px;
  background-color: #f6f6ef;
}

.hidden {
  display: none;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  text-align: start;
  border-spacing: 0px;
  font-variant: normal;
  width: 100%;
  margin: 2px 2px;
  padding: 1px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
}

.top {
  display: table-row;
  vertical-align: middle;
  background-color: #ff6600;
}

#brand-and-btns {
  display: table-cell;
  vertical-align: middle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* color: #828282; */
}

span.pagetop {
  display: block;
  margin: 0.2rem 0.3rem;
  font-size: 12px;
  line-height: normal;
}

b.name {
  margin-right: 5px;
  font-weight: bold;
}

tr a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

#logout {
  text-align: right;
  padding-right: 4px;
  font-size: 10pt;
  display: table-cell;
  vertical-align: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav-username {
  cursor: auto;
}
/* ARTICLES TABLE */

.itemlist tbody {
  display: table-row-group;
  vertical-align: middle;
}

#all-articles-list,
#favs-list,
#search-results-list {
  padding: 0.5rem 2rem;
  background-color: #f6f6ef;
}

li {
  vertical-align: inherit;
  border-color: inherit;
  margin: 0.5rem 0rem;
}

li::marker,
li .btn-fav,
#btn-fav-remove,
#star {
  color: #828282;
}

li .btn-fav {
  cursor: pointer;
}

li .title a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 10pt;
  line-height: 14pt;
  color: rgb(31, 31, 31);
  border-spacing: 2px;
}

.article-hostname {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8pt;
  color: #828282;
}

.article-author,
.article-username,
.article-hide {
  color: #828282;
  font-size: 9pt;
}

.article-author {
  margin-left: 1rem;
}

.article-hide {
  cursor: pointer;
}

/* FORMS */

form {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

form h4,
#my-favs,
#no-favs,
#not-found,
#msg-done {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  justify-content: center;
}

#my-favs,
#no-favs,
#not-found,
#msg-done {
  padding: 0.5rem 0.5rem;
}

#no-favs,
#not-found {
  font-style: italic;
}

#not-found {
  margin: 0px 0px;
  padding: 0rem 0rem;
  text-align: center;
}

.login-input label {
  margin-right: 2rem;
  text-align: left;
}

form > * {
  margin: 10px 0;
}

form label {
  font-size: 0.9rem;
  font-weight: 700;
  display: inline-block;
  width: 3.5rem;
  text-align: right;
}

form input {
  font-size: 0.8rem;
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  width: 300px;
  box-shadow: 0 0 3px 1px lightgray;
}
form input label {
  width: 70px;
}
form input:focus {
  outline: none;
  box-shadow: 0 0 4px 1px darkgray;
}

form > button,
#empty-favslist {
  width: 4rem;
  margin: 0.5rem 5.6rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 0.85rem;
  background-color: lightslategray;
  color: white;
  cursor: pointer;
  transition: all 0.15s;
}

form > button:hover,
#empty-favslist:hover {
  background-color: dimgray;
}

form > hr {
  margin: 0;
  border: 0.5px solid lightgray;
}

.account-form button {
  width: 4rem;
  display: inline-block;
}

#create-account-form button {
  padding: 10px;
  width: 8rem;
}

/* FOOTER */

.bottom {
  background-color: #ff6600;
  margin: 0;
}
.bott-cont {
  margin: 0;
  padding: 0;
}

.bott-cont form {
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bott-cont form label,
.bott-cont form input,
.bott-cont form button {
  margin: 0rem 0.2rem;
  padding: 0.3rem;
}

#search-results-list {
  text-emphasis: none;
}

@media (max-width: 750px) {
  b.name {
    display: block;
    font-size: 15px;
  }
  #logout {
    height: inherit !important;
  }
  .itemlist {
    padding-right: 5px;
  }
  li .btn-fav {
    min-width: 18px;
  }
  td {
    height: inherit !important;
  }
  li .title {
    font-size: 11pt;
    line-height: 14pt;
  }
}
